<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
             <p>
                I'm currently studying Computer Programming and Analysis (CPA), where I learn about software development, data analysis, and system design. Alongside my studies, I have a keen interest in cars, football, and watches. This unique combination drives me to explore innovative intersections, such as developing automotive software, analyzing football game data, and creating apps for smartwatches. I envision leveraging my programming skills to contribute to advancements in automotive technology, sports analytics, and wearable devices, aiming to merge my technical expertise with my passions for a fulfilling and impactful career.
            </p>
        </article>
    </section>
</div>