<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
             <p>
                I am currently studying web development, with a focus on creating dynamic web applications. My interests include full-stack development, problem-solving, and exploring new technologies.
            </p>
        </article>
    </section>
</div>
