<div class="container">
  <h2>Add Category</h2>
  <form action="/categories/add" method="POST">
    <div class="form-group">
      <label for="category">Category:</label>
       <input type="text" id="category" name="category" class="form-control" autofocus required>
    </div>
    <button type="submit" class="btn btn-success">Add Category</button>
  </form>
</div>
