<div class="container" style="padding-top:60px">
  <div class="row">
    <div class="col-12">
      <h1>Login</h1>
      {{#if errorMessage}}
        <div class="alert alert-danger">
          <strong>Error:</strong> {{errorMessage}}
        </div>
      {{/if}}
      <form method="POST" action="/login">
        <div class="form-group">
          <input type="text" name="userName" placeholder="User Name" required value="{{userName}}"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" required/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
