.navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1rem;
    font-weight: bold;
}

.nav-link:hover {
    color: #ffc107;
}

h2 {
    color: rgb(23, 162, 180);
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #370c0d;
    line-height: 1.6;
}
